.inp{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #9c9b9b;
    padding-bottom: 3px;
    font-size: 20px;
}
h1{
    font-family: fantasy;
}
.hh{
    border-bottom: 2px solid #9c9b9b;
    color: #cac7c7;
    user-select: none;
}